<!-- This partial requires the locals: notification -->

<% read = notification.read ? '' : 'notifly-notification-not-read' %>

<div id='<%= "notifly-notification-#{notification.id}" %>' class="notifly-notification <%= read %>" data-id="<%= notification.id %>">
  <div class="notifly-notification-message">
    <%= render partial: "notifly/templates/notifications/#{notification.template}",
      locals: { notification: notification } %>
  </div>

  <span class="notifly-notification-actions">
    <%= render partial: 'notifly/layouts/actions', locals: { notification: notification }  %>
  </span>
</div>